<% provide(:title, "Loan Item") %>

<% if flash[:errors] %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="wrap">
<div id="main" class="container clear-top">
<div class="form4">
  <div class="font-edit font-left">
    <h2 class="text-left mx-3">New Loan</h2>
  </div>
  <%= form_for @loan_item do |form| %>
    <div class="font-user">
      <hr>
      <p>
        <%= form.label :code, class:"tlabel" %>
        <%= form.text_field :code, value: @loan_item.code, class:"textbox6", readonly: true, disabled: true %>
      </p>
      <p>
        <%= form.label :loan_item_datetime, class:"tlabel" %>
        <%= form.text_field :loan_item_datetime, class:"textbox6", id:"datetime" %>
      </p>
      <p>
        <%= form.label :return_estimation_datetime, class:"tlabel" %>
        <%= form.text_field :return_estimation_datetime, class:"textbox6", id:"datetime" %>
      </p>
      <br>
        <p>
          <%= form.label :necessary, class:"tlabel" %>
          <%= form.text_field :necessary, class:"textbox6"%>
        </p>
        <%  if @current_user.role == "admin" %>
        <p>
          <%= form.label :user_id, class:"tlabel" %>
          <%= form.select :user_id, @users.map { |user| [user.name, user.id] }, {}, class:"textbox7" %>
        </p>
        <% else %>
        <% form.hidden_field :user_id, value: @current_user.id %>
        <% end %>
    </div>

    <div class="font-edit font-left mb-4">
      <h2 class="text-left">Items</h2>
    </div>
    <hr>
    <table class="table table-loan-item mb-0">
      <thead>
      </thead>
      <tbody id="asset_loan_items">
        <%= form.fields_for :asset_loan_items do |fs| %>

        <% end %>
        <p class="links">
           <%= link_to_add_nested(form, :asset_loan_items, '#asset_loan_items', link_text: 'Add Item', link_classes: 'btn btn-success btn-lg button15') %>
        </p>
      </tbody>
    </table>
    <p>
      <%= form.submit "CREATE", class: "btn-add-skill btn btn-primary btn-lg button4 mt-2 mb-4" %>
    </p>
</div>
</div>
</div>

<script>
  $(function() {
    $('input[id="datetime"]').daterangepicker({
      "singleDatePicker": true,
      "timePicker": true,
      "timePicker24Hour": true,
      "minDate": moment(),
      locale: {
        format: 'YYYY-MM-DD kk:mm'
      }
    }, function(start, end, label) {
      console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    });
  });
</script>
<% end %>