<% provide(:title, "Change Password") %>

<% if flash[:errors] %>
  <div class="alert alert-danger">
    <%= flash[:errors] %>
  </div>
<% end %>

<div class="form2">
  <div class="font-edit">
    <h2>Change Passsword</h2>
  </div>
    <%= form_with model: @user, url: update_password_path(@user), method: :post do |f| %>
      <div class="font-user">
        <hr>
          <p>
            <%= f.label :current_password, class:"tlabel" do %>
              <%= "Current Password" %>
              <span class="required">*</span>
            <% end %>
            <%= f.text_field :current_password, type:"password", class:"textbox2", required: true  %>
          </p>
          <p>
            <%= f.label :new_password, class:"tlabel" do %>
              <%= "New Password" %>
              <span class="required">*</span>
            <% end %>
            <%= f.text_field :new_password, type:"password", class:"textbox2", required: true  %>
          </p>
      </div>
      <span class="required"> &ensp; *Required fields</span>
      <p>
          <%= f.submit "Submit", data: { confirm: "Are you sure you want to reset your password?" }, class: "button4 btn btn-primary btn-lg" %>
      </p>
    <% end %>
</div>