<% provide(:title, "Users") %>
<div class="form">

<div class="container9 mb-5">
<h1 class="pb-0 mb-2" >User</h1>

<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:errors] %>
<div class="alert alert-danger">
  <%= flash[:errors] %>
</div>
<% end %>

<div class="table-responsive w-100 mb-5">
<table class="table borderless w-100 mb-5">
  <tr>
    <td><%= button_to new_user_path, method: 'get', class: "button2 btn btn-primary" do %>
      <span class="fa-solid fa-plus" aria-hidden="true"></span>
      New User
      <% end %>
    </td>
    <td>
        <%= link_to export_user_users_path(format: :csv), download: 'export_data.csv',
        id: 'export-csv-link',
        class:'button8 btn btn-info text-light',
        :format => 'csv' do %>
          <span class="fa-solid fa-download" aria-hidden="true"></span>
          Export User
        <% end %>
    </td>
    <td>
      <div class="table-container">
        <%= form_tag users_path, method: 'get' do %>
          <div class="input-group mx-1 search">
            <%= text_field_tag :search, params[:search], placeholder: 'Type here...', class: "form-control search-box" %>
            <span class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-secondary search-button") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
            </div>
        <% end %>
    </td>
  </tr>
</table>

<table id="myTable" class="table table-bordered table-item w-100 center vcenter">
  <thead class="thead">
    <tr>
      <th onclick="sortTable(0)" class="th vcenter text-nowrap">Employee Id<i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(1)" class="th vcenter text-nowrap">Name<i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(2)" class="th vcenter text-nowrap">Email <i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(3)" class="th vcenter text-nowrap">Department <i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(4)" class="th vcenter text-nowrap">Position <i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(5)" class="th vcenter text-nowrap">Role <i class="fa fa-fw fa-sort"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
          <td class="col-sm-1 text-left"><%= link_to user.code, user_path(user) %></td>
          <td class="col-sm-1"><%= user.name %></td>
          <td class="col-sm-1"><%= user.email %></td>
          <td class="col-sm-2"><%= user.department.code_name %></td>
          <td class="col-sm-2"><%= user.position %></td>
          <td class="col-sm-1"><%= user.role %></td>
      </tr>
      <% end %>
  </tbody>
</table>

</div>
<%= paginate @users, :window => 3 %>
</div>
</div>

