<% provide(:title, "Users") %>
<div class="form">

<div class="container9 mb-5">
<h1 class="pb-0 mb-2" >User</h1>

<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:errors] %>
<div class="alert alert-danger">
  <%= flash[:errors] %>
</div>
<% end %>

<div class="table-responsive w-100 mb-5">
<table class="table borderless w-100 mb-5">
  <tr>
    <td><%= button_to "Create", new_user_path, method: 'get', class: "button2 btn btn-primary" %></td>
    <td><%= link_to 'Export Data', {controller: 'users', action: 'export_user', format: 'csv'}, id: 'export-csv-link', class:'button8 btn btn-info text-light', :format => 'csv', download: 'export_data.csv'%></td>
    <td>
      <div class="table-container">
        <%= form_tag users_path, method: 'get' do %>
            <div class="input-group mx-1 search">
              <div class="container-icon">
                <span class="search-icon"><i class="fa fa-search"></i></span>
              </div>
              <%= text_field_tag :search, params[:search], placeholder: 'Type here...', class: "form-control search-box" %>
              <span class="input-group-btn">
                <%= submit_tag "Search", class: "btn btn-secondary search-button" %>
              </span>
            </div>
        <% end %>
    </td>
  </tr>
</table>

<table class="table table-bordered table-striped table-hover w-100 center">
  <thead class="thead">
    <tr>
      <th class="th">Employee Id</th>
      <th class="th">Name</th>
      <th class="th">Email</th>
      <th class="th">Department</th>
      <th class="th">Position</th>
      <th class="th">Role</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
          <td><%= link_to user.code, user_path(user) %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.department.code_name %></td>
          <td><%= user.position.code_name %></td>
          <td><%= user.role %></td>
      </tr>
      <% end %>
  </tbody>
</table>

</div>
<%= paginate @users, :window => 3 %>
</div>
</div>

