<% provide(:title, "User Detail") %>
<br>

<div class="container9 mb-4">
<div class="form3">
<h1 style="text-align:left" >User Detail</h1>
<hr>
<div class="button-container mx-3">
<table>
  <tr>
    <td><%= button_to edit_user_path, method: 'get', class: "button13 btn btn-warning text-light" do %>
      <span class="fa-solid fa-pen-to-square" aria-hidden="true"></span>
      Edit
      <% end %>
    </td>
    <td><%= button_to user_path, method: 'delete',
    data: { confirm: "Are you sure for delete this user?" }, class: "button9 btn btn-danger" do %>
      <span class="fa-solid fa-trash-can" aria-hidden="true"></span>
      Delete
      <% end %>
    </td>
    <td><%= button_to reset_password_path, method: 'get',
    data: { confirm: "Are you sure you want to reset this user's password?" }, class: "button9 btn btn-primary" do %>
      <span class="fa-solid fa-arrows-rotate" aria-hidden="true"></span>
      Reset
      <% end %>
    </td>
  </tr>
</table>
</div>

  <table class="table tablestat" style="width:100%">

      <tr>
        <th>Name</th>
        <td>:</td>
        <td><%= @user.name%></td>
      </tr>
      <tr>
        <th>Employee ID</th>
        <td>:</td>
        <td><%= @user.code%></td>
      </tr>
      <tr>
        <th>Email</th>
        <td>:</td>
        <td><%= @user.email%></td>
      </tr>
      <tr>
        <th>Department</th>
        <td>:</td>
        <td><%= @user.department.code_name%></td>
      </tr>
      <tr>
        <th>Position</th>
        <td>:</td>
        <td><%= @user.position%></td>
      </tr>
      <tr>
        <th>Role</th>
        <td>:</td>
        <td><%= @user.role%></td>
      </tr>
  </table>
</div>
</div>