<% provide(:title, "Asset Return") %>

<div class="form">

<div class="container9 mb-5">
<h1 class="pb-0 mb-2">Return Item</h1>

<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:errors] %>
<div class="alert alert-danger">
  <%= flash[:errors] %>
</div>
<% end %>

<div class="table-responsive w-100 mb-5">
<table class="table borderless w-100 mb-5 mt-4">
  <tr>
  <td><%= link_to export_return_asset_return_items_path(format: :csv), download: 'export_data.csv',
      id: 'export-csv-link',
      class: 'button12 btn btn-info text-light',
      :format => 'csv' do %>
      <span class="fa-solid fa-download" aria-hidden="true"></span>
      Export Returns
      <% end %>
      </td>
    <td>
      <div class="table-container">
        <%= form_tag asset_return_items_path, method: 'get' do %>
          <div class="input-group mx-1 search">
            <%= text_field_tag :search, params[:search], placeholder: 'Type here...', class: "form-control search-box" %>
            <span class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-secondary search-button") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
            </div>
        <% end %>
    </td>
  </tr>
</table>

<table id="myTable" class="table table-bordered table-item w-100 center vcenter">
  <thead class="thead">
    <tr>
      <th onclick="sortTable(0)" class="th vcenter text-nowrap">Code<i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(1)" class="th vcenter text-nowrap">Item Name <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(2)" class="th vcenter text-nowrap">Item Code <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(3)" class="th vcenter text-nowrap">User <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(4)" class="th vcenter text-nowrap">Actual Return Date <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(5)" class="th vcenter text-nowrap">Actual Item Condition <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(6)" class="th vcenter text-nowrap">Return Status <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(7)" class="th vcenter text-nowrap">Admin <i class="fa fa-fw fa-sort"></i></th>
      <th onclick="sortTable(8)" class="th vcenter text-nowrap">Status <i class="fa fa-fw fa-sort"></i></th>
    </tr>
  </thead>
  <tbody>
  <% @return_items.each do |retur| %>
      <tr>
          <td class="col-sm-1 text-left"><%= link_to retur.asset_return.code, asset_return_item_path(retur) %></td>
          <td class="col-sm-2"><%= retur.item.name %></td>
          <td class="col-sm-1"><%= retur.item.code %></td>
          <td class="col-sm-1"><%= retur.asset_return.user.name %></td>
          <td class="col-sm-1">
          <% if retur.asset_return.actual_return_datetime.present? %>
            <%= retur.asset_return.actual_return_datetime.localtime.strftime("%Y-%m-%d %H:%M:%S") %>
          <% end %>
          <td class="col-sm-1">
            <% if retur.actual_item_condition == "layak pakai" %>
              <span class="badge rounded-pill bg-success"><%= retur.actual_item_condition %></span>
            <% elsif retur.actual_item_condition == "layak pakai ada cacat" %>
              <span class="badge rounded-pill bg-warning"><%= retur.actual_item_condition %></span>
            <% elsif retur.actual_item_condition == "tidak layak pakai" %>
              <span class="badge rounded-pill bg-danger"><%= retur.actual_item_condition %></span>
            <% end %>
          </td>
          <td class="col-sm-1">
            <% if retur.asset_return.return_status == "on time" %>
              <span class="badge rounded-pill bg-success"><%= retur.asset_return.return_status %></span>
            <% elsif retur.asset_return.return_status == "early" %>
            <span class="badge rounded-pill bg-info"><%= retur.asset_return.return_status %></span>
            <% elsif retur.asset_return.return_status == "late" %>
              <span class="badge rounded-pill bg-danger"><%= retur.asset_return.return_status %></span>
            <% end %>
          </td>
          <td class="col-sm-1">
            <%=
              if retur.admin.present?
                retur.admin.name
              else
                ""
              end
            %>
          </td>
          <td class="col-sm-1"><%= retur.status %></td>
      </tr>
      <% end %>

  </tbody>
</table>

</div>
<%= paginate @return_items, :window => 3 %>
</div>
</div>