<% provide(:title, "Item Detail") %>

<h1>Return Item Detail</h1>

<div class="container8">
  <div class="container-detail-item">
    <div class="image-container mt-4">
      <%= image_tag @return_item.item.image, class:"imageee"%>
    </div>

    <div class="container5 mt-4">
    <div class="button-container-return">
    <table>
      <tr>
        <td><%= button_to "Received", received_asset_return_item_path , method: 'post', class: "button2 btn btn-success w-100" %></td>
      </tr>
    </table>
  </div>

<h3 class="font-item"><%= @return_item.asset_return.code %></h3>
  <table class="table tablestat">
      <tr>
        <th>Item</th>
        <td>:</td>
        <td><%= @return_item.item.name%></td>
      </tr>
      <tr>
        <th>Item ID</th>
        <td>:</td>
        <td><%= @return_item.item.code%></td>
      </tr>
      <tr>
        <th>User</th>
        <td>:</td>
        <td><%= @return_item.asset_return.user.name%></td>
      </tr>
      <tr>
        <th>Actual Return Date</th>
        <td>:</td>
        <td><%= @return_item.asset_return.actual_return_datetime.localtime.strftime("%Y-%m-%d %H:%M:%S")%></td>
      </tr>
      <tr>
        <th>Actual Item Condition</th>
        <td>:</td>
        <td><%= @return_item.item.condition%></td>
      </tr>
      <tr>
        <th>Return Status</th>
        <td>:</td>
        <td><%= @return_item.asset_return.return_status%></td>
      </tr>
      <tr>
        <th>Admin</th>
        <td>:</td>
        <td>
          <%=
          if @return_item.admin.present?
            @return_item.admin.name
          else
            ""
          end %>
        </td>
      </tr>
      <tr>
        <th>Status</th>
        <td>:</td>
        <td><%= @return_item.status%></td>
      </tr>
  </table>
</div>
</div>
</div>
