<% provide(:title, "Item Detail") %>

<h1>Return Item Detail</h1>

<table>
  <tr>
    <td><%= button_to "Received", received_asset_return_item_path , method: 'post', class: "button2 btn btn-outline-success" %></td>
    </tr>
</table>

<div class="container3">
<div class="container4">
<%= image_tag @return_item.item_name.image, class:"imageee"%>
</div>
</div>

<div class="container6">
<h3 class="font-item"><%= @return_item.asset_return.code %></h3>
  <table class="table tablestat" style="width:150%">
      <tr>
        <th>Item</th>
        <td>:</td>
        <td><%= @return_item.item_name.name%></td>
      </tr>
      <tr>
        <th>Item ID</th>
        <td>:</td>
        <td><%= @return_item.item_name.code%></td>
      </tr>
      <tr>
        <th>User</th>
        <td>:</td>
        <td><%= @return_item.asset_return.user.name%></td>
      </tr>
      <tr>
        <th>Actual Return Date</th>
        <td>:</td>
        <td><%= @return_item.asset_return.actual_return_datetime%></td>
      </tr>
      <tr>
        <th>Actual Item Condition</th>
        <td>:</td>
        <td><%= @return_item.item_condition.condition%></td>
      </tr>
      <tr>
        <th>Return Status</th>
        <td>:</td>
        <td><%= @return_item.return_status%></td>
      </tr>
      <tr>
        <th>Admin</th>
        <td>:</td>
        <td><%= @return_item.admin.name%></td>
      </tr>
      <tr>
        <th>Status</th>
        <td>:</td>
        <td><%= @return_item.status%></td>
      </tr>
  </table>
</div>
