<% provide(:title, "Dashboard") %>

<h1>Item</h1>

<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:errors] %>
<div class="alert alert-danger">
  <%= flash[:errors] %>
</div>
<% end %>

<div class="container8 mb-5">
<div class="table-responsive w-100 mb-5">
<table class="table borderless w-100 mb-5">
  <tr>
    <td>
      <div class="table-container">
        <%= form_tag user_items_path, method: 'get' do %>
          <div class="input-group mx-1 search">
            <%= text_field_tag :search, params[:search], placeholder: 'Type here...', class: "form-control search-box" %>
            <span class="input-group-btn">
              <%= button_tag(type: "submit", class: "btn btn-secondary search-button") do %>
                <i class="fa fa-search"></i>
              <% end %>
            </span>
            </div>
        <% end %>
    </td>
  </tr>
</table>

<table id="myTable" class="table table-bordered table-item w-100 center vcenter">
  <thead class="thead">
    <tr>
      <th onclick="sortTable(0)" class="th vcenter text-nowrap">Item ID <i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(1)" class="th vcenter text-nowrap">Name <i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(2)" class="th vcenter text-nowrap">Type <i class="fa fa-fw fa-sort"></th>
      <th onclick="sortTable(3)" class="th vcenter text-nowrap">Condition <i class="fa fa-fw fa-sort"></th>
    </tr>
  </thead>
  <tbody>
  <% @user_items.each do |item| %>
      <tr>
          <td><%= link_to item.code, user_item_path(item) %></td>
          <td><%= item.name %></td>
          <td><%= item.item_type %></td>
          <td>
            <% if item.condition == "layak pakai" %>
              <span class="badge rounded-pill bg-success"><%= item.condition %></span>
            <% elsif item.condition == "layak pakai ada cacat" %>
              <span class="badge rounded-pill bg-warning"><%= item.condition %></span>
            <% elsif item.condition == "tidak layak pakai" %>
              <span class="badge rounded-pill bg-danger"><%= item.condition %></span>
            <% end %>
          </td>

      </tr>
      <% end %>

  </tbody>
</table>
</div>
<%= paginate @user_items, :window => 3 %>
</div>

