<% provide(:title, "Dashboard") %>

<h1>Items Index</h1>

<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
</div>
<% end %>

<% if flash[:errors] %>
<div class="alert alert-danger">
  <%= flash[:errors] %>
</div>
<% end %>

<table class="table table-bordered table-striped table-hover w-100 center">
  <thead class="thead">
    <tr>
      <th class="th">Item ID</th>
      <th class="th">Name</th>
      <th class="th">Merk</th>
      <th class="th">Condition</th>
      <th class="th">Description</th>
      <th class="th">Image</th>
    </tr>
  </thead>
  <tbody>
  <% @user_items.each do |item| %>
      <tr>
          <td style="text-align:left"><%= link_to item.code, user_item_path(item) %></td>
          <td><%= item.name %></td>
          <td><%= item.merk %></td>
          <td><%= item.condition %></td>
          <td><%= item.description %></td>
          <td><% if item.image.attached? %>
              <%= image_tag item.image, class:"imagee"%>
              <% end %>
          </td>

      </tr>
      <% end %>

  </tbody>
</table>


