<% provide(:title, "Item Detail") %>

<h1>Item Detail</h1>

<div class="container3">
<div class="container4">
<%= image_tag @user_item.image, class:"imageee"%>
</div>
</div>

<div class="container7">
<h3 class="font-item"><%= @user_item.name.upcase %></h3>
  <table class="table tablestat" style="width:75%">
      <tr>
        <th>Code</th>
        <td>:</td>
        <td><%= @user_item.code%></td>
      </tr>
      <tr>
        <th>Merk</th>
        <td>:</td>
        <td><%= @user_item.merk%></td>
      </tr>
      <tr>
        <th>Condition</th>
        <td>:</td>
        <td><%= @user_item.condition%></td>
      </tr>
      <tr>
        <th>Description</th>
        <td>:</td>
        <td><%= @user_item.description%></td>
      </tr>
  </table>
</div>
