<% provide(:title, "Add New Item") %>

<% if flash[:errors] %>
<div class="alert alert-danger">
<ul>
  <%= flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
</ul>
</div>
<% end %>

<div class="form2">
<div class="font-edit">
<h2>New Item</h2>
</div>
        <%= form_with(model: @item, local: true)do |f| %>
        <div class="font-user">
        <hr>
          <p>
          <%= f.label :code, class:"tlabel" %>
          <%= f.text_field :code, class:"textbox2" %>
          </p>
          <p>
          <%= f.label :name, class:"tlabel" %>
          <%= f.text_field :name, class:"textbox2" %>
          </p>
          <p>
          <%= f.label :merk, class:"tlabel" %>
          <%= f.date_field :merk, class:"textbox2" %>
          </p>
          <p>
          <%= f.label :vendor_name, class:"tlabel" %>
          <%= f.text_field :vendor_name, class:"textbox2" %>
          </p>
          <p>
          <%= f.label :condition, class:"tlabel" %>
          <%= f.select :condition, ['good', 'damage', 'unusable'] %>
          </p>
          <p>
          <%= f.label :status, class:"tlabel" %>
          <%= f.select :status, ['available', 'unavailable'] %>
          </p>
          <p>
          <%= f.label :description, class:"tlabel" %>
          <%= f.text_field :description, class:"textbox2" %>
          </p>
          <p>
          <%= f.label :image, class:"tlabel" %>
          <%= f.file_field :image %>
          </p>

          <p>
          <%= f.submit "CREATE", class: "button4 btn btn-secondary btn-lg" %>
          </p>
          <% end %>
        </div>
</div>