<% provide(:title, "New Return Items") %>

<% if flash[:errors] %>
  <div class="alert alert-danger">
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container8">
<div class="form2 my-0 mb-5">
<div class="font-edit font-left">
<h2>New Return Items</h2>
</div>
    <%= form_with model: @asset_return, url:  user_asset_returns_path, method: :post, format: :json do |f| %>
    <div class="font-user">
    <%= f.fields_for :asset_return_items do |item_fields| %>
      <%= item_fields.hidden_field :item_id %>
    <% end %>
    <hr>
      <%= f.hidden_field :loan_id, value: @asset_loan.id %>
      <p>
      <%= f.label :code, class:"tlabel" %>
      <%= f.text_field :code, value: @asset_return.code, readonly:true, class:"textbox2" %>
      </p>
      <p>
      <%= f.label :asset_loan_id, class:"tlabel" %>
      <%= f.text_field :loan_code, value: @asset_loan.code, readonly: true, class:"textbox2"  %>
      <%= f.hidden_field :asset_loan_id, value: @asset_loan.id %>
      </p>
      <p>
      <%= f.label :user, class:"tlabel" %>
      <%= f.text_field :user_id, value: @current_user_name, readonly: true, class:"textbox2" %>
      </p>
      <p>
      <%= f.label :actual_return_datetime, class:"tlabel" %>
      <span id='ct5'>
      </span>
      </p>
      </div>

      <div class="font-return font-left">
      <h2>Asset Return Items</h2>
      </div>
      <hr>
      <table class= "table-return table-hover mb-0">
        <thead>
          <th class="tlabel2">Item</th>
          <th class="tlabel2 px-4">Action</th>
        </thead>

        <tbody>
            <% @asset_loan.asset_loan_items.each_with_index do |item, index| %>
              <tr id="item-row-<%= index %>">
                <td>
                <%= f.hidden_field "asset_return_items[#{index}][data_is_destroyed]", value: "false" %>
                <%= f.hidden_field "asset_loan_items[#{index}][item_id]", value: item.item_id %>
                <%= text_field_tag nil, item.item.name, readonly: true, class: "textbox8" %>
              </td>
              <td class="px-3">
                <% if @asset_return.asset_return_items.count > 1 %>
                  <button class="btn btn-danger delete-item btn-del font-user-loan" data-row-index="<%= index %>" data-item-id="<%= item.item_id %>" ><span class="fa-solid fa-trash" aria-hidden="true"></span></button>
                <% else %>
                  <button class="btn btn-danger delete-item btn-del font-user-loan" data-row-index="<%= index %>" data-item-id="<%= item.item_id %> disabled" ><span class="fa-solid fa-trash" aria-hidden="true"></span></button>
                <% end %>
              </td>
              </tr>
          <% end %>
        </tbody>
      </table>

      <script>
        document.querySelectorAll('.delete-item').forEach(function(button) {
          button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent form submission

            var itemId = button.getAttribute('data-item-id');
            var row = button.getAttribute('data-row-index');
            console.log("Destroy button clicked for item ID: " + itemId);


            var itemRow = document.getElementById('item-row-' + row);
            if (itemRow) {
              itemRow.style.display = 'none';
              var hiddenInput = document.getElementById("asset_return_asset_return_items[" + row + "][data_is_destroyed]");
              if (hiddenInput) {
                hiddenInput.value = "true";
              }
            }
          });
        });


        function display_ct5() {
          var x = new Date()
          var x1=x.getFullYear() + '-' + (x.getMonth() + 1) + '-' + x.getDate();
          x1 = x1 + " " +  x.getHours( )+ ":" +  x.getMinutes()
          document.getElementById('ct5').innerHTML = x1;
          display_c5();
        }

        function display_c5(){
          var refresh=100; // Refresh rate in milli seconds
          mytime=setTimeout('display_ct5()',refresh)
        }

        display_c5()
      </script>

    <p>
    <%= f.submit "CREATE", class: "button4 btn btn-primary btn-lg" %>
    </p>

    <% end %>

    </div>
</div>