<!DOCTYPE html>

<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application" %>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>

  <body>
  <%= render 'layouts/header' %>
    <div class="container">
    <div id="message">
    <br>
    <br>
    <p>
    <% if notice %>
      <div  class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    </p>
    <p>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>
    </p>
    </div>
      <%= yield %>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
